li a {
  text-transform: uppercase;
  margin-top: 2em;
  color: #1f2070;
}
header {
  background: url("/src/assets/bg.png") no-repeat center center fixed;
  background-size: cover;
  height: 20vh;
}
header figure img {
  width: 280px;
  height: 240px;
}

.header-links {
  margin-top: 5em;
}

.active-link {
  color: red;
}
