footer {
  background-color: red;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 4em;
  justify-content: center;
  justify-items: center;
  align-items: flex-start;
}
.icon {
  margin-right: 0.5em;
}

footer p,
footer h2 {
  margin: 0;
}
.social-media-content {
  display: inline-flex;
  gap: 0.5em;
}
